PORT=3001
HOST=0.0.0.0
MONGODB_URI=mongodb://admin:senha123@localhost:27017/posts?authSource=admin
MONGODB_DATABASE=posts

# https://console.cloud.google.com/auth/clients?project=undersland
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=http://localhost:3001/sign-up/google/callback
FRONTEND_URL=http://localhost:3000
SESSION_SECRET=
