DOMAIN=

MONGODB_USERNAME=
MONGODB_PASSWORD=
MONGODB_PASSWORD_URLENCODED=
MONGODB_DATABASE=
MONGO_EXPRESS_USERNAME=
MONGO_EXPRESS_PASSWORD=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=
FRONTEND_URL=

SESSION_SECRET=
